body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    position: relative;
    height: 300px; /* Adjust height and width to be equal for a perfect circle */
    width: 300px;
    border-radius: 50%; /* Use percentage to ensure the border radius creates a circle */
    border: solid 5px rgb(252, 255, 55);
}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: rgb(70, 255, 255);
    top: 20px;
    left: 149px;
    transform-origin: bottom;
    transform: rotate(0deg);
}

#minutes-hand {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: rgb(253, 128, 227);
    top: 50px;
    left: 149px;
    transform-origin: bottom;
    transform: rotate(0deg);
}

#hours-hand {
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: rgb(205, 112, 255);
    top: 70px;
    left: 148px;
    transform-origin: bottom;
    transform: rotate(0deg);
}

#center {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(252, 255, 55);
    position: absolute;
    top: 145px;
    left: 145px; 
}


